package edit

import (
	"github.com/templwind/sass-starter/internal/config"
	"github.com/templwind/sass-starter/internal/ui/layouts/applayout"
	"github.com/templwind/sass-starter/internal/models"
	"github.com/templwind/sass-starter/internal/partials"

	"github.com/labstack/echo/v4"
	// "github.com/templwind/sass-starter/internal/templwind/components/appheader"
)

templ Edit(e echo.Context, cfg *config.Config, account *models.Account) {
	@applayout.New(
		applayout.WithTitle("Encounter"),
		applayout.WithConfig(cfg),
		applayout.WithEcho(e),
	) {
		// @appheader.New(
		// 	appheader.WithTitle("Account"),
		// )
		@partials.FormContainer() {
			// @partials.Card(partials.CardConfig{
			// 	Lead:       "Update you account information.",
			// 	Components: []templ.Component{Form(e, cfg, account)},
			// })
		}
	}
}
