package index

import (
	"github.com/templwind/sass-starter/internal/ui/layouts/sitelayout"
)

templ tpl(props *Props) {
	@sitelayout.New(
		sitelayout.WithRequest(props.Request),
		sitelayout.WithConfig(props.Config),
		) {
		<h1>Welcome to Templwind</h1>
	}
}

